.section-head-guide {
	background: url("../guide-img/guide10-service-central-ava.png");
}

/* ----Пояснения---- */

.p1 {
	top: 101px;
    left: 627px;
}

.p2 {
	top: 90px;
	left: 255px;
}

.p3 {
	top: 240px;
	left: 884px;
}

.p4 {
    top: 88px;
    left: 466px;
}

.p5 {
	top: 105px;
    left: 670px;
}

.p6 {
	top: 100px;
    left: 785px;
}

.p7 {
	top: 64px;
    left: 654px;
}

.p8 {
	top: 123px;
    left: 700px;
}

.p9 {
	top: 39px;
	left: 649px;
}

.p10 {
	top: 32px;
    left: 661px;
}

.p11 {
	top: 27px;
    left: 530px;
}