.section-head-guide {
	background: url("../guide-img/guide6-service-central-ava.png");
}

/* ----Пояснения---- */

.p1 {
	top: 228px;
    left: 753px;
}

.p2 {
	top: 76px;
	left: 797px;
}

.p3 {
	top: 220px;
	left: 829px;
}

.p4 {
	top: 435px;
	left: 895px;
}