.section-head-guide {
	background: url("../guide-img/guide2-service-linear-ava.png");
}

/*----Пояснения----*/

.p1 {
	top: 173px;
	left: 544px;
}

.p2 {
	top: 195px;
	left: 610px;
}

.p3 {
	top: 256px;
	left: 548px;
}

.p4 {
	top: 124px;
	left: 844px;
}

.p5 {
	top: 150px;
	left: 435px;
}

.p6 {
	top: 205px;
	left: 550px;
}

.p7 {
	top: 355px;
	left: 527px;
}