.section-head-guide {
	background: url("../guide-img/guide2-service-central-ava.png");
}

/* ----Пояснения---- */

.p1 {
	top: 32px;
    left: 652px;
}

.p2 {
	top: 200px;
	left: 461px;
}

.p3 {
	top: 155px;
    left: 616px;
}

.p4 {
	top: 151px;
	left: 748px;
}

.p5 {
	top: 291px;
    left: 678px;
}

.p6 {
	top: 170px;
    left: 461px;
}

.p7 {
	top: 164px;
    left: 651px;
}

.p8 {
	top: 143px;
    left: 859px;
}

.p9 {
	top: 114px;
	left: 251px;
}

.p10 {
    top: 65px;
    left: 286px;
}

.p11 {
	top: 108px;
    left: 767px;
}

.p12 {
    top: 5px;
    left: 691px;
}

.p13 {
	top: 25px;
    left: 473px;
}

.p14 {
	top: 272px;
    left: 562px;
}

.p15 {
	top: 188px;
	left: 548px;
}

.p16 {
    top: 266px;
    left: 622px;
}

.p17 {
	top: 37px;
	left: 758px;
}

.p18 {
	top: 105px;
	left: 637px;
}

.p19 {
	top: 182px;
	left: 760px;
}

.p20 {
	top: 232px;
	left: 611px;
}

.p21 {
	top: 280px;
	left: 663px;
}

.p22 {
	top: 325px;
	left: 611px;
}

.p23 {
	top: 372px;
	left: 711px;
}