.section-head-guide {
	background: url("../guide-img/guide3-service-central-ava.png");
}

/* ----Пояснения---- */

.p1 {
    top: 102px;
    left: 395px;
}

.p2 {
    top: 192px;
    left: 792px;
}

.p3 {
    top: 428px;
    left: 811px;
}

.p4 {
    top: 155px;
    left: 846px;	
}

.p5 {
    top: 180px;
    left: 415px;
}

.p6 {
    top: 181px;
    left: 773px;	
}

.p7 {
    top: 180px;
    left: 766px;
}

.p8 {
    top: 235px;
    left: 809px;
}

.p9 {
	top: 124px;
    left: 341px;
}

.p10 {
    top: 118px;
    left: 514px;
}

.p11 {
    top: 112px;
    left: 794px;
}

.p12 {
    top: 212px;
    left: 657px;
}

.p13 {
    top: 124px;
    left: 775px;
}

.p14 {
    top: 92px;
    left: 636px;
}

.p15 {
    top: 190px;
    left: 287px;
}

.p16 {
	top: 218px;
    left: 453px;
}

.p17 {
	top: 62px;
    left: 246px;
}

.p18 {
	top: 107px;
    left: 360px;
}